<div class="container">
  <div class="left-block">
    <div class="social-media">
      <h1>Coupon ~project</h1>
      <ul>
        <li>Facebook</li>
        <li>Instgram</li>
        <li>Twitter</li>
        <li>Youtube</li>
      </ul>
    </div>
    <div class="support">
      <h3>Support</h3>
      <ul>
        <li>Contact us</li>
        <li>FAQ</li>
        <li>About</li>
        <li>Merchants & Companies</li>
      </ul>
    </div>
  </div>
  <div class="right-block">
    <div class="subscribe">
      <h3>Stay in touch</h3>
      <input type="text" placeholder="Email address" />
      <button>Sub</button>
    </div>
  </div>
</div>
