<div class="container">
  <h1>Join us</h1>
  <h3>Let's become friends!</h3>
  <div class="company">
    <h2>New Company/Merchant</h2>
    <span> Join as a merchant & create yourself coupons, be able to interact with your customers as an individual shop, and enjoy our free of charge advertisment.
    </span>
  </div>
  <div class="customer">
    <h2>New Customer</h2>
    <span> Enjoy a wide range of coupons from various categories and create your very own slice of life adventure :) .
    </span>
  </div>
</div>
