<div class="container">
  <div class="main-header">
    <ul>
      <li>Home</li>
      <li>About</li>
      <li>Contact</li>
    </ul>
    <!-- <img src="" alt="logo-image" /> -->
    <h1>Coupon ~project</h1>
    <ul>
      <li><a [routerLink]="['/login']">Sign In</a></li>
      <li>Search</li>
    </ul>
  </div>
  <div class="navbar">
    <ul>
      <li>Electricity</li>
      <li>Vacation</li>
      <li>Swimming</li>
      <li>Restaurants</li>
      <li>Furniture</li>
      <li>Hobbies</li>
      <li>Family</li>
    </ul>
  </div>
</div>
