<div class="container">
  <div class="main-header">
    <ul>
      <li><a [routerLink]="['/main']">Home</a></li>
      <li>About</li>
      <li>Contact</li>
    </ul>
    <!-- <img src="" alt="logo-image" /> -->
    <h1>Coupon ~project</h1>
    <ul>
      <li *ngIf="!signedInUsername">
        <a [routerLink]="['/login']">Sign In</a>
      </li>
      <li *ngIf="signedInUsername"> <a [routerLink]="['/company']">Welcome {{ signedInUsername }}</a></li>
      <li *ngIf="signedInUsername">  <a [routerLink]="['/main']" (click)="logout()">Sign out</a></li>
    </ul>
  </div>
  <div class="navbar" *ngIf="displaySegmentForMain">
    <ul  >
      <li (click)="showAllDisplay()" >All</li>
      <li (click)="switchDisplay(category)" *ngFor="let category of allCategories">{{category.category}} </li>
    </ul>
  </div>
</div>
