<div class="container">
  <h1 >Companies's Control Interface</h1>
  <input
    #searchField
    type="text"
    placeholder="Start typing"
    [(ngModel)]="filterTerm"
    autocomplete="off"
  />
  <div class="companies-if" *ngIf="allCompanies">
    <div class="companies">
      <div class="company" *ngFor="let company of allCompanies | filter:filterTerm">
        <p><span style="font-weight: 800;">Name:</span>  {{ company.name }}</p>
        <p><span style="font-weight: 800;">Email:</span> {{ company.email }}</p>
        <p><span style="font-weight: 800;">ID:</span> {{ company.id }}</p>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
