@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

.container {
  -webkit-box-shadow: 1px 0px 17px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 0px 17px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 0px 17px 1px rgba(0, 0, 0, 0.75);
  background: #ff512f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #f09819,
    #ff512f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #f09819,
    #ff512f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  clear: both;
  width: 70%;
  // height: 60vh;
  border: 1px solid rgb(255, 102, 0);
  border-radius: 25px;
  position: absolute;
  top: 110%;
  left: 25%;
  padding: 1.5%;
  h1 {
    font-family: "Quicksand", sans-serif;
    margin: 2%;
    margin-bottom: 4%;

  }

  input {
    font-family: "Quicksand", sans-serif;
    color: white;
    font-size: 20px;
    width: 60%;
    margin: 0 15%;
    padding: 5px;
    background: none;
    border: none;
    border-radius: 50px;
    border-bottom: 1px solid black;
  }
}

.companies {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.companies-if {
  display: flex;
  justify-content: center;
}

.company {
  padding: 2%;
  margin: 5%;
  h3 {
    font-family: "Quicksand", sans-serif;
  }

  h2 {
    font-family: "Quicksand", sans-serif;
  }
}
