<div class="container">
  <h1 >Categorys's Control Interface</h1>
  <input
    #searchField
    type="text"
    placeholder="Start typing"
    [(ngModel)]="filterTerm"
    autocomplete="off"
  />
  <div class="companies-if" *ngIf="allCategories">
    <div class="companies">
      <div class="company" *ngFor="let category of allCategories | filter:filterTerm">
        <p><span style="font-weight: 800;">Category:</span> {{ category.name }}</p>

      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
