<form (ngSubmit)="editCompany()" [formGroup]="editCompanyFormProfile">
  <h2>Edit</h2>
  <p class="message" *ngIf="serverMessage">{{ serverMessage }}</p>

  <select
    (change)="setCompanyInputDetails($event.target.value)"
    formControlName="company"
    class="option"
  >
  <option>Choose Company</option>
  <option *ngFor="let company of allCompanies">
      {{ company.name }}
    </option>
  </select>
  <input
  *ngIf="selectedCompany"

    type="text"
    name="email"
    formControlName="email"
    placeholder="Insert email"
  />
  <input
  *ngIf="selectedCompany"

    type="password"
    name="password"
    formControlName="password"
    placeholder="Insert password"
  />
  <br />
  <button  [disabled]="!editCompanyFormProfile.valid" type="submit">Submit changes</button>
</form>
