<form (ngSubmit)="addCompany()" [formGroup]="addCompanyFormProfile">
  <h2>Add</h2>
  <p class="message" *ngIf="serverMessage">{{ serverMessage }}</p>
  <input
    type="text"
    name="name"
    formControlName="name"
    placeholder="Insert name"
  />
  <input
    type="text"
    name="email"
    formControlName="email"
    placeholder="Insert email"
  />
  <input
    type="password"
    name="password"
    formControlName="password"
    placeholder="Insert password"
  />
  <br />
  <button type="submit">Add company</button>
</form>
