@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  list-style: none;
  font-family: 'Bebas Neue', cursive;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html, body {
  background: rgb(224, 224, 224);
}
